<h1> All your favourite restaurants</h1>
<p>  <%= current_user.username %> you are logged in !!!! </p>
<% @favorites.each do |favorite| %>
  <%restaurant = Restaurant.find_by(id: favorite.favoritable_id) %>
  <%= restaurant.name %>
  <%= restaurant.address %>
  <%= restaurant.contact_number %>
  <%= link_to "Delete", favorite_path(favorite), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <hr>
<% end %>
