<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-4">
      <% @favorites.each do |favorite| %>
        <div class="card" style="width: 23rem;">
          <%@restaurant = Restaurant.find_by(id:favorite.favoritable_id)  %>
          <%= cl_image_tag @restaurant.photos[0].key, crop: :fill, class: "card-img-top" %>
          <div class="card-body">
            <%= link_to (@restaurant.name), restaurant_path(@restaurant), class: "btn btn-info"  %>
            <%@review = Review.new  %>
            <%@review.restaurant = @restaurant %>
      <!--add review button-->
            <i class="fa-solid fa-pen-to-square"
              type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
              style="color:black;">
            </i>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <%= render "review_form", restaurant: @restaurant, review: @review %>
              </div>
            </div>
      <!--add review button end-->
      <!--readreview button start-->
            <%@reviews = @restaurant.reviews %>
            <i class="fa-solid fa-users-viewfinder"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
              style ="color:black;">
            </i>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <%= render "review_list", reviews: @reviews, review: @review %>
              </div>
            </div>
      <!--read review button end-->
            <%= link_to (render "remove"),favorite_path(favorite), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            <%= link_to (render "navigate"), restaurants_path %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
