<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-4">

          <h1 class="text-center fw-bolder mt-3"> Your favorites!</h1>

        <div class = "shadow-lg p-3 mb-3 mt-3 bg-info  d-flex justify-content-center" >
          <%= form_with url: favorites_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control border-0 ",
            placeholder: "Search for a Restaurant"
          %>
          <button class="btn  rounded-pill me-2" type="submit"><i class="fa-solid fa-magnifying-glass p-0 text-black "></i></button>
          <% end %>
        </div>
      <div class="favorite-card">
        <% @favorites.each do |favorite| %>
          <div class="card mt-3 border-0 rounded-5 " style="width: 23rem;">
            <%@restaurant = Restaurant.find_by(id:favorite.favoritable_id)  %>
            <%= cl_image_tag @restaurant.photos[0].key, width: 400, height: 300, crop: :fill, class: "card-img-top rounded-4" %>
            <div class="card-body">
              <div>
                <%= link_to (@restaurant.name), restaurant_path(@restaurant), class: "btn btn-info rounded-pill"  %>
              </div>
              <div class ="text-center shadow p-2 mb-1 mt-3 bg-info rounded-pill">
                <%@review = Review.new  %>
                <%@review.restaurant = @restaurant %>
                <div class="d-inline">
                  <i class="fa-solid fa-pen-to-square"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample-<%=@restaurant.id%>"
                    aria-expanded="false"
                    aria-controls="collapseExample"
                    style="color:black;">
                  </i>
                  <div class="collapse"
                      id="collapseExample-<%=@restaurant.id%>">
                    <div class="card card-body border-0 "
                        data-icon-target="read">
                      <%= render "review_form", restaurant: @restaurant, review: @review %>
                    </div>
                  </div>
                </div>
                <div class="d-inline">
                  <%@reviews = @restaurant.reviews %>
                  <i class="fa-solid fa-users-viewfinder"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseExample<%=@restaurant.id%>"
                    aria-expanded="false"
                    aria-controls="collapseExample"
                    style ="color:black;"
                    data-action="click->icon#read">
                  </i>
                  <div class="collapse "
                      id="collapseExample<%=@restaurant.id%>"
                      data-icon-target="write">
                    <div class="card card-body border-0">
                      <%= render "review_list", reviews: @reviews, review: @review%>
                    </div>
                  </div>
                </div>
                <div class="d-inline">
                  <%= link_to favorite_path(favorite), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, style: "text-decoration:none;" do %>
                    <i class="fa-solid fa-trash" style="color:red;"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
