<nav class="navbar navbar-dark bg-info rounded mb-0 p-0">
  <div class="container-fluid">
    <a class="navbar-brand fw-bolder text-dark" href="#">KIBONBAZ <i class="fa-solid fa-bowl-food text-dark"></i></a>
    <span class="navbar-toggler border border-dark p-0 rounded-5"d data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" >
      <i class="fa-sharp fa-regular fa-user text-dark"></i>
    </span>
    <div class="offcanvas offcanvas-end bg-light" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header d-block ">
        <h5 class="offcanvas-title text-dark fw-bolder" id="offcanvasNavbarLabel">KIBONBAZ</h5>
        <% if user_signed_in?%>
          <small class="offcanvas-title text-dark fw-bolder" id="offcanvasNavbarLabel"> <%= current_user.username %> logged in </small>
        <% end %>
        <button type="button" class="btn-close btn-close-black text-reset position-absolute top-0 end-0 m-1" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body fw-bolder">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link text-dark" %>
          </li>
          <% if user_signed_in? && current_user.owner == false %>
            <li class="nav-item">
              <%= link_to " My Favourites", favorites_path, class: "nav-link text-dark" %>
            </li>
          <% end %>
          <% if user_signed_in? && current_user.owner == true %>
            <li class="nav-item">
              <%= link_to "My Restaurants","" , class: "nav-link text-dark" %>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Tags", tags_path, class: "nav-link text-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete},class:" nav-link text-dark text-decoration-none"%>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login/Sign up", new_user_session_path, class: "nav-link text-dark" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
