<div class="homepage_container">
  <div class="title">
    <div class="kibon">
      <h1>KIBON</h1>
    </div>
    <div class="baz">
      <h1>BAZ</h1>
    </div>
  </div>
  <div class="subtitle">
    <h2>Good Food Close to You!</h2>
  </div>
  <div class="homepage_art">
      <div class="phone">
        <%= image_tag "smartphone.png"%>
        <div class="animation">
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
          <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_85f8DL.json"  background="transparent"  speed="0.2"  style="width: 140px; height: 300px;" hover   autoplay></lottie-player>
        </div>
        <div class="icon1">
          <%= image_tag "icon-k", height: 35, width: 35, alt: "marker"%>
        </div>
        <div class="icon2">
          <%= image_tag "icon-k", height: 35, width: 35, alt: "marker"%>
        </div>
        <div class="icon3">
          <%= image_tag "icon-k", height: 35, width: 35, alt: "marker"%>
        </div>
        <div class="icon4">
          <%= image_tag "icon-k", height: 35, width: 35, alt: "marker"%>
        </div>
      </div>
      <div class="rasta">
        <%= image_tag "rasta", height: 400, width: 200, alt: "rasta"%>
      </div>
      <div class="Get_Started">
        <button class= "Gst_btn"><%= link_to "Get Started", restaurants_path%></button>
      </div>
  </div>
</div>
