<div class="homepage_container">
  <div class="title">
    <div class="kibon">
      <h1>KIBON</h1>
    </div>
    <div class="baz">
      <h1>BAZ</h1>
    </div>
  </div>
  <div class="subtitle">
    <h2>Good Food Close to You!</h2>
  </div>
  <div class="homepage_art">
      <div class="phone">
        <%= image_tag "smartphone.png"%>
        <div class="animation">
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
          <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_85f8DL.json"  background="transparent"  speed="0.2"  style="width: 160px; height: 300px;" loop   autoplay></lottie-player>
        </div>
        <div class="icon1">
          <%= image_tag "marker.svg", height: 35, width: 35, alt: "marker"%>
        </div>
        <div class="icon2">
          <%= image_tag "marker.svg", height: 35, width: 35, alt: "marker"%>
        </div>
        <div class="icon3">
          <%= image_tag "marker.svg", height: 35, width: 35, alt: "marker"%>
        </div>
        <div class="icon4">
          <%= image_tag "marker.svg", height: 35, width: 35, alt: "marker"%>
        </div>
      </div>
      <div class="rasta">
        <%= image_tag "rasta.png", height: 400, width: 200, alt: "rasta"%>
      </div>
      <div class="Get_Started">
        <button class= "Gst_btn"><%= link_to "Get Started", restaurants_path , data:{turbo: false} %></button>
      </div>
  </div>

  <div class="how_it_works">
    <h1>Ki Déroulé?<p>(How it works)</h1></p>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="hiw_card">
            <%= image_tag "image1.png" %>
            <h3>Pick</h3>
            <p>Pick a Restaurant</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="hiw_card">
            <%= image_tag "image2.png" %>
            <h3>Navigate</h3>
            <p>Use the Map to Navigate to the Restaurant</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="hiw_card">
            <%= image_tag "image3.png" %>
            <h3>Enjoy</h3>
            <p>Enjoy your food!</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
</div>

<section class="footer">
      <ul class="list">
        <li>
          <a href="http://localhost:3000/restaurants">Map</a>
        </li>
        <li>
          <a href="http://localhost:3000/favorites">Favorites</a>
        </li>
        <li>
          <a href="http://localhost:3000/tags">Tags</a>
        </li>
      </ul>
      <div class="social">
        <a href="https://github.com/manu1601/KIBONBAZ"><i class="fab fa-github"></i></a>
      </div>
      <hr>
      <p class="copyright" style="font-family: 'Alfa Slab One', cursive;">KIBONBAZ © 2023</p>
    </section>
