<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-4"style="background-image: url(https://img.freepik.com/vecteurs-libre/memphis-fond_53876-85419.jpg?w=740&t=st=1677265783~exp=1677266383~hmac=60ba9e3f2cd5828b51d44b4a909294d9bb63e578337d917ba806eb17acbc380e);">
      <div class= " p-2 mt-3  mb-2">
        <h1 class="text-center fw-bolder"style= "font-family: 'Alfa Slab One', cursive; color: #1f2833">#<%= @tag.name_tag %></h1>
      </div>
      <div class="shadow-lg p-3 mb-3 bg-info rounded-pill d-flex justify-content-center">
        <%= form_with url: tag_path(@tag), method: :get, class: "d-flex " do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control ms-2 me-2 border-0 rounded-pill",
            placeholder: "Search for a Restaurant"
          %>
          <button class="btn  rounded-pill me-2" type="submit"data-turbo= false><i class="fa-solid fa-magnifying-glass p-0 text-black "></i></button>
        <% end %>
      </div>
      <div id="tag-card">
        <% @suggestions.each do |suggestion| %>
          <div class="card mb-3 shadow-sm p-3 bg-light rounded-5 border-0 text-center" style="width: auto; ">
            <div class="card-body">
            <h5 class="card-title" style="font-family: 'Alfa Slab One', cursive;">
            <%= cl_image_tag suggestion.restaurant.photos[0].key, width: 300, height: 250, crop: :fill, class: "card-img-top rounded-4 mb-4 border border-dark" %>
              <%= link_to (suggestion.restaurant.name), restaurant_path(suggestion.restaurant), class:"btn btn-info rounded-pill fw-bolder mb-3 fs-3" %>
            </h5>
              <hr>
            <p class="card-text fw-bold"> <i class="fa-solid fa-location-dot text-black" ></i> <%= suggestion.restaurant.address%> </p>
            <p class="card-text fw-bold"> Contact number: <%= suggestion.restaurant.contact_number%> </p>
            <p class="card-text fw-bold">
              <% average = [] %>
              <% suggestion.restaurant.reviews.each do |review| %>
                <% rating = review.rating %>
                <% average.push(rating) %>
              <% end %>
                <% sum = average.sum %>
                <% count = average.count %>
                <% unless average.empty? %>
                  <% average_rating = (sum/count)%>
                  <% action = average_rating.round%>
                  <% case action  %>
                    <% when 1  %>
                      <p class="fw-bold">Rating :⭐️</p>
                    <% when 2  %>
                      <p class="fw-bold"> Rating : ⭐️⭐️</p>
                    <% when 3  %>
                      <p class="fw-bold">Rating: ⭐️⭐️⭐️</p>
                    <% when 4  %>
                      <p class="fw-bold">Rating: ⭐️⭐️⭐️⭐</p>
                    <% when 5  %>
                      <p class="fw-bold">Rating: ⭐️⭐️⭐️⭐️⭐️</p>
                  <% end %>
                <% end %>
            </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
