<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-4">
      <div class= "shadow-lg p-2 mt-3  mb-2 bg-info rounded-pill">
        <h1 class="text-center fw-bolder">#<%= @tag.name_tag %></h1>
      </div>
      <div class="shadow-lg p-3 mb-3 bg-info rounded-pill d-flex justify-content-center">
        <%= form_with url: tag_path(@tag), method: :get, class: "d-flex, " do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control, w-70, text-center, border-0",
            placeholder: "type Restaurant name"
          %>
          <%= submit_tag "Search", class: "btn btn-dark rounded-pill ms-3" %>
        <% end %>
      </div>
      <div id="tag-card">
        <% @suggestions.each do |suggestion| %>
          <div class="card mb-3 shadow-sm p-3 bg-white rounded-5 border-0" style="width: auto;">
            <div class="card-body">
            <h5 class="card-title">
              <%= link_to (suggestion.restaurant.name), restaurant_path(suggestion.restaurant), class:"btn btn-info rounded-pill fw-bolder mb-3" %>
            </h5>

            <p class="card-text fw-bold"> Address: <%= suggestion.restaurant.address%> </p>
            <p class="card-text fw-bold"> contact_number: <%= suggestion.restaurant.contact_number%> </p>
            <p class="card-text fw-bold">
              <% average = [] %>
              <% suggestion.restaurant.reviews.each do |review| %>
                <% rating = review.rating %>
                <% average.push(rating) %>
              <% end %>
                <% sum = average.sum %>
                <% count = average.count %>
                <% unless average.empty? %>
                  <% average_rating = (sum/count)%>
                  <% action = average_rating.round%>
                  <% case action  %>
                    <% when 1  %>
                      <p class="fw-bold">Rating :⭐️</p>
                    <% when 2  %>
                      <p class="fw-bold"> Rating : ⭐️⭐️</p>
                    <% when 3  %>
                      <p class="fw-bold">Rating: ⭐️⭐️⭐️</p>
                    <% when 4  %>
                      <p class="fw-bold">Rating: ⭐️⭐️⭐️⭐</p>
                    <% when 5  %>
                      <p class="fw-bold">Rating: ⭐️⭐️⭐️⭐️⭐️</p>
                  <% end %>
                <% end %>
            </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
