<div class="container">
  <h1> Visitors/users not signed in & signed in/owner's not signed in - Display all restaurants</h1>
  <h1> owner signed in --> Display only his restaurants</h1>
</div>

<% if user_signed_in? %>
  <hr>
  <p><%=current_user%> </p>
  <p><%=current_user.username%> signed in!</p>
  <p><%=current_user.email%> </p>
  <p>owner :<%=current_user.owner%> </p>
  <hr>
<%else%>
<hr>
  <p> no one signed in</p>
<hr>
<%end%>
<!--display all restaurants that belong to the owner use -->

<!--code-->

<% if user_signed_in? && current_user.owner == true%>
  <h1>your restaurants!</h1>
  <%=link_to "Add restaurant", new_restaurant_path, class: " btn btn-primary " %>
  <hr>
  <% owner_restaurants =  @restaurants.select do |restaurant|%>
    <%restaurant.user_id == current_user.id%>
  <% end%>
  <%#= owner_restaurants %>
  <hr>
  <% owner_restaurants.each do |owner_restaurant| %>
    <p>****<%= owner_restaurant.name %></p>
    <br>
    <p>****<%= owner_restaurant.address %></p>
    <br>
    <p>****<%= owner_restaurant.contact_number %></p>
  <hr>
  <%end%>

<%else%>
  <%@restaurants.each do |restaurant|%>
    <h1> all restaurants!</h1>
    <p>###<%= restaurant.name %></p>
    <br>
    <p>###<%= restaurant.address %></p>
    <br>
    <p>###<%= restaurant.contact_number %></p>
  <%end%>
  <hr>
<%end%>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV[pk.eyJ1IjoibWFudTE2MDEiLCJhIjoiY2xlN2N2bmt5MDRhZTNxbnp2cGdoOHlrNCJ9.xO5W6wuqoE3YTEqTRkU6Fg] %>">
</div>
