<div class="show_cont">
  <div class="restau_image">
    <% @restaurant.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
  <div class="restau_info">
    <h1><strong><%= @restaurant.name %></strong></h1>
    <p><i class="fa-solid fa-location-dot"></i><%= @restaurant.address %></p>
    <p><%#= @restaurant.rating %></p>
    <p><i class="fa-solid fa-phone"></i><%= @restaurant.contact_number %></p>
  </div>
  <div class="buttons">
    <button class="navigate"><%= link_to "Navigate", restaurants_path%><i class="fa-regular fa-compass"></i></i></button>
  </div>
</div>
<div class="Add_review_container">
    <div class="review_btn">
      <button class="btn_rev btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <p>Add a Review<i class="fa-regular fa-pen-to-square"></i></p>
      </button>
    </div>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <%= simple_form_for [ @restaurant, @review ] do |f| %>
      <%= f.input :comment %>
      <%= f.input :rating %>
      <%= f.submit "Submit review", class: "btn btn-gradient" %>
      <% end %>
    </div>
  </div>
<div class="review_container2">
  <h1>Reviews</h1>
    <% @restaurant.reviews.each do |review| %>
      <h4><%= review.user.username %></h4>
      <h4> Rating <%=review.rating %></h4>
      <h4><p>Comment</p><%=review.comment %></h4>
      <br>
    <% end %>
</div>
</div>
