<div class="show_cont">
  <div class="restau_image">
    <% @restaurant.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <div class="fav">
      <% if user_signed_in? && current_user.favorited?(@restaurant) %>
        <i class="fa-regular fa-heart fs-1" style="color:red"> </i>
      <% elsif user_signed_in? && current_user.favorited?(@restaurant) == false  %>
        <%# <%= link_to "add to favorite", restaurant_favorites_path(@restaurant), class:"btn btn-primary" %>
        <button class="heart"><%= link_to "fav", restaurant_favorites_path(@restaurant) %><i class="fa-regular fa-heart fs-1" style="color:black"> </i></i></button>
      <% else %>
        <p> sign up to save your favourite restaurants</p>
      <% end %>
    </div>
  </div>

  <div class="restau_info">
    <h1><strong><%= @restaurant.name %></strong></h1>
    <p><i class="fa-solid fa-location-dot"></i><%= @restaurant.address %></p>
    <p><i class="fa-solid fa-phone"></i><%= @restaurant.contact_number %></p>
  </div>
  <div class="buttons">
    <button class="navigate"><%= link_to "Navigate", restaurants_path%><i class="fa-regular fa-compass"></i></i></button>
  </div>
  <div class="Add_review_container">
    <div class="review_btn">
      <button class="btn_rev btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <p>Add a Review<i class="fa-regular fa-pen-to-square" style="color:#E1AF63"></i></p>
      </button>
    </div>

    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <%= simple_form_for [ @restaurant, @review ] do |f| %>
        <%= f.input :comment %>
        <%= f.input :rating, collection: (1..5).to_a, label:"Rate your experience", input_html: {data: {controller: "star-rating"}} %>
        <%= f.submit "Submit review", class: " btn btn-info" %>
        <% end %>
      </div>
    </div>
  <p>
  <button class="btn btn-info rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Restaurant Reviews
  </button>
  </p>
  <div style="min-height: 120px;">
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
      <div class="card card-body" style="width: 300px;">
        <% @reviews.each do |review| %>
          <%= review.user.username %>
          <p>comment: <%= review.comment%></p>
          <p> rating: <%= r = review.rating %></p>
      <% end %>
      </div>
    </div>
  </div>
</div>

<!--bootstrap-->
