<div class="show_cont">
  <div class="restau_image">
    <% @restaurant.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
  <div class="restau_info">
    <h1><strong><%= @restaurant.name %></strong></h1>
    <p><%= @restaurant.address %></p>
    <p><%#= @restaurant.rating %></p>
    <p><%= @restaurant.contact_number %></p>
  </div>
  <div class="buttons">
    <%= link_to "Back", restaurants_path, class: "btn btn-light"%>
  </div>
</div>

  <div class="reviews">
  <h2>Reviews</h2>
  <% @reviews.each do |review|%>
  <p><%= review.user.username%></p>
  <p> Comment: <%= review.comment%></p>
  <p> Rating: <%= review.rating %></p>
  <% if review.user == current_user %>
  <%= link_to "Delete Review", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-gradient" %>
  <% end %>
  </div>
</div>
