<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-4">
      <%= render "restaurants/carousel", restaurant: @restaurant %>
      <div class ="text-center shadow p-2 mb-1 mt-3 bg-info rounded-pill">
        <div class="d-inline">
          <i class="fa-solid fa-pen-to-square"
            type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseExample-<%=@restaurant.id%>"
            aria-expanded="false"
            aria-controls="collapseExample"
            style="color:black;">
          </i>
          <div class="collapse"
            id="collapseExample-<%=@restaurant.id%>">
            <div class="card card-body border-0 "
              data-icon-target="read">
              <%= render "favorites/review_form", restaurant: @restaurant, review: @review %>
            </div>
          </div>
        </div>

        <div class="d-inline">
          <%@reviews = @restaurant.reviews %>
          <i class="fa-solid fa-users-viewfinder"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseExample<%=@restaurant.id%>"
            aria-expanded="false"
            aria-controls="collapseExample"
            style ="color:black;"
            data-action="click->icon#read">
          </i>
          <div class="collapse "
            id="collapseExample<%=@restaurant.id%>"
            data-icon-target="write">
            <div class="card card-body border-0">
              <%= render "favorites/review_list", reviews: @reviews, review: @review%>
            </div>
          </div>
        </div>

        <div class="d-inline">
          <%= link_to restaurants_path do %>
            <i class="fa-solid fa-compass" style="color:black;"></i>
          <% end %>
        </div>

        <div class="d-inline">
          <% if user_signed_in? && current_user.favorited?(@restaurant) == false  %>
              <%= link_to restaurant_favorites_path(@restaurant) do%>
                <i class="fa-solid fa-star fs-2 " style="color:black"> </i>
              <% end %>
          <% end %>
        </div>
      </div>
      <div class="card mt-2 border-0 rounded-5 bg-white">
        <div class="card-body fw-bold">
          <div class="bg-info rounded-pill">
            <h1 class="text-center text-dark"><strong><%= @restaurant.name %></strong></h1>
          </div>
          <% if @rating%>
            <div class="bg-info rounded-pill text-center mt-3">
              <% action = @rating.round%>
                <% case action  %>
                  <% when 1  %>
                    <p>Rating :⭐️</p>
                  <% when 2  %>
                    <p> Rating : ⭐️⭐️</p>
                  <% when 3  %>
                    <p>Rating: ⭐️⭐️⭐️</p>
                  <% when 4  %>
                    <p>Rating: ⭐️⭐️⭐️⭐</p>
                  <% when 5  %>
                    <p>Rating: ⭐️⭐️⭐️⭐️⭐️</p>
                <% end %>
            </div>
          <% end %>
          <div class="bg-info rounded-pill text-center mt-3">
            <p class="text-dark"><i class="fa-solid fa-location-dot text-dark" style="color:black;"></i><%= @restaurant.address %></p>
          </div>
          <div class="bg-info rounded-pill text-center">
            <p class="text-dark"><i class="fa-solid fa-phone text-dark"style="color:black;"></i><%= @restaurant.contact_number %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
