<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-4">
      <h1 class="text-center text-dark mt-3" id="restaurant-title">
        <%= @restaurant.name %>
        <% if @rating%>
          <% action = @rating.round%>
          <% case action  %>
            <% when 1  %>
              <p>⭐️</p>
            <% when 2  %>
              <p>⭐️⭐️</p>
            <% when 3  %>
              <p>⭐️⭐️⭐️</p>
            <% when 4  %>
              <p>⭐️⭐️⭐️⭐</p>
            <% when 5  %>
              <p>⭐️⭐️⭐️⭐️⭐️</p>
            <% end %>
        <% end %>
      </h1>
      <%= render "restaurants/carousel", restaurant: @restaurant %>
      <div class="restau-card">
      <div class="d-inline mt-3 ms-4">
        <%= link_to"Direction",restaurants_path, class: "btn btn-dark rounded-pill" %>
        <% if user_signed_in? && current_user.favorited?(@restaurant) == false  %>
          <%= link_to"Add to favorites",restaurant_favorites_path(@restaurant), class:"btn btn-dark rounded-pill" %>
        <% end %>
        <button class="btn btn-dark rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Reviews
        </button>
        <div class="collapse rounded-3" id="collapseExample">
          <div class="card card-body mt-3">
            <%= render "favorites/review_list", reviews: @reviews, review: @review%>
          </div>
        </div>
      </div>

      <div class="card mt-3 border-0 rounded-3 bg-info " style="width:auto">
        <div class="card-body">
          <div class="shadow-none p-1 mb-3 bg-light rounded"><i class="fa-solid fa-location-dot text-black"></i><%= @restaurant.address %> </div>
          <div class="shadow-none p-1 mb-3 bg-light rounded"><i class="fa-solid fa-phone text-black"></i><%= @restaurant.contact_number%></div>
        </div>
      </div>
      <div class="shadow-sm p-3 mt-3 bg-white rounded-2 text-dark">
        <%= render "favorites/review_form", restaurant: @restaurant, review: @review %>
      </div>
      </div>
    </div>
  </div>
</div>
