<div class="show_container">
    <div class="restau_image">
    </div>
    <div class="restau_info">
      <h1><strong><%= @restaurant.name %></strong></h1>
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.contact_number %></p>
    </div>
</div>
<%= current_user.username %>
<%= current_user.id %>
<%= @restaurant.id %>

<%= link_to "add to favorite", restaurant_favorites_path(@restaurant)%>
<%# <script>
  console.log("hello from restaurants/show.html.erb");
  const star = document.querySelector("#star");
  star.addEventListener("click", (event) => {
    console.log(event.currentTarget);
    console.log(event);
    console.log(star.classList.value)
    if (star.classList.value === "") {
      star.classList.add("favourite-icon")
      console.log(star.classList.value)
    } else {
      star.classList.remove("favourite-icon")
      console.log("empty")
    }
    });

</script> %>
